<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Search results</title>
	<link rel="stylesheet" href="/css/search_result.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>

	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/SearchResult.js"></script>
  	
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToAddNewContactPage()">
					<strong>Back</strong>
				</button>
			</li>
			<li id="nav_bar_middle">
				<strong>Search result</strong>
			</li>
			<li id="nav_bar_right">
				<button id="next_button" class="click_button" onclick="selectInfoToSend()">
					<strong>Next</strong>
				</button>
			</li>
		</ul>
	</nav>
	<main>
		<ul id="result_list">
			{{#each person}}
                <li class="search_item">
                    <button id="{{id}}" onclick="requestAddToContact(this)">
                        <img class="contact_img" src="{{imageURL}}">
                        <strong>{{name}}</strong>
                    </button>
                </li>
            {{/each}}
		</ul>
	</main>
	</body>
</html>